HUGINN_DOMAIN=localhost:3000
HUGINN_PORT=3000
HUGINN_APP_SECRET_TOKEN=replace-me-with-random-string
HUGINN_INVITATION_CODE=try-huginn
HUGINN_DB_NAME=huginn
HUGINN_DB_USER=huginn
HUGINN_DB_PASSWORD=huginn
HUGINN_DB_HOST=postgres
HUGINN_DB_PORT=5432

RSSHUB_PORT=1200
